extends layout

block content

	script.
		$(document).ready(function() {
		});

	h1 #{data.name}

	ol(class="breadcrumb")
		li 
			a(href="/") Home
		li(class="active") #{data.name}


	//
	// Loop through our current crowd and print up the groups in it
	//
	each group, group_name in data

		if group.id

			div(class="col-md-4")
				- var name = group.name + ", " +  group.config.numPosts + " most recent posts"
				- var last = moment(group.last_updated).fromNow();
				- var uri = "/group" + "/" + crowd + "/" + group_name;
				a(class="group-button" href=uri type="button" class="btn btn-lg btn-primary") 
					span(class="glyphicon glyphicon-comment") 
					span
						| &nbsp; #{group.name}
						br
						| #{group.config.numPosts} most recent posts
							
				p(class="last-updated") Last updated: #{last}



