extends layout

block content

	h1 Analysis of last #{data.config.numPosts} posts to group #{data.name}

	script.
		
		$(document).ready(function() {

		});

	- var last = data.last_updated
	p(class="last-updated") Last updated: #{last}

	div(class="row")
		div(class="col-md-6")
		
			//
			// Loop through our top posters
			//
			h2 Top #{data.config.numTopPosters} posters

			each val, index in data.post_stats
				div(class="row")
					div(class="col-md-12")
						- var name = val.user.name
						- var id = val.user.id
						- var count = val.count
						- var percent = val.percent
						- var post_string = "posts";
						- if (count == 1) { post_string = "post"; }
						a(href="http://www.facebook.com/#{id}" ) #{name}
						div(class="progress")
							div(class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: #{percent}%;")
								p #{count} #{post_string}


		div(class="col-md-6")
			//
			// ...and top commenters!
			//
			h2 Top #{data.config.numTopCommenters} commenters
			each val, index in data.comment_stats
				div(class="row")
					div(class="col-md-12")
						- var name = val.user.name
						- var id = val.user.id
						- var count = val.count
						- var percent = val.percent
						- var string = "comments";
						- if (count == 1) { comment_string = "comment"; }
						a(href="http://www.facebook.com/#{id}" ) #{name}
						div(class="progress")
							div(class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: #{percent}%;")
								p #{count} #{string}


