extends layout

block content

	script.
		$(document).ready(function() {
		});

	h1 Analysis of posts to #{group_name} for user #{poster.name}

	ol(class="breadcrumb")
		li 
			a(href="/") Home
		li 
			a(href="/group/#{crowd}") #{crowd_name}
		li 
			a(href="/group/#{crowd}/#{group}") #{group_name}
		li(class="active") #{poster.name}


	//
	// Get the URL for the user
	//
	- var url_user = "http://www.facebook.com/" + poster.id;
	- var last = last_updated

	if (poster.picture)
		<a href="#{url_user}" ><img class="user-picture" src="#{poster.picture}" ">#{poster.name}</a>
	else
		a(href="{#url_user}" ) #{poster.name}

	- var last = moment(last).fromNow();

	p(class="last-updated") Last updated: #{last}

	div(class="row")
		if post_stats
			if post_stats.posts
				div(class="col-md-6")

					h2 User Posts
					div(class="row")
						div(class="col-md-6")
							p Total Posts: #{post_stats.posts.length}
						div(class="col-md-6")
							p Total Likes: #{post_stats.num_likes} <span class="fa fa-thumbs-up" style="color: #3b5998; " />

					each post, index in post_stats.posts
						div(class="row")
							div(class="col-md-12")
								div(class="panel panel-default")

									- var url = "http://www.facebook.com/" + post.id;
									- var created_time = moment(post.created_time).format("MMM D, YYYY H:mm A Z");
									- var message = post.message;
									- var like_count = post.like_count
									- if (!message) { message = post.story; }

									div(class="panel-heading") 
										| <a href="#{url}">#{created_time}</a>
										| #{like_count} <span class="fa fa-thumbs-up" style="color: #3b5998;"> </span>
									div(class="panel-body") #{message}
										if post.picture
											p
											p <a href="#{post.full_picture}"><img src="#{post.picture}" /></a>


		if comment_stats
			if comment_stats.posts
				div(class="col-md-6")

					h2 User Comments
					div(class="row")
						div(class="col-md-6")
							p Total Comments: #{comment_stats.posts.length}
						div(class="col-md-6")
							p Total Likes: #{comment_stats.num_likes} <span class="fa fa-thumbs-up" style="color: #3b5998; " />

					each comment, index in comment_stats.posts

						div(class="row")
							div(class="col-md-12")
								div(class="panel panel-default")

									- var url = "http://www.facebook.com/" + comment.id;
									- var created_time = moment(comment.created_time).format("MMM D, YYYY H:mm A Z");
									- var message = comment.message;
									- if (!message) { message = "[ Embedded Facebook Emoticon ]"; }
									- var like_count = comment.like_count;

									div(class="panel-heading") 
										| <a href="#{url}">#{created_time}</a>
										| #{like_count} <span class="fa fa-thumbs-up" style="color: #3b5998;"> </span>
									div(class="panel-body") #{message}


